@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 180 20% 99%;
  --foreground: 222.2 47.4% 11.2%;
  --muted: 210 16% 93%;
  --muted-foreground: 215 16% 40%;
  --accent: 152 75% 28%;
  --accent-foreground: 0 0% 100%;
  --border: 210 30% 90%;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background font-sans text-foreground antialiased;
  }
}
